<!DOCTYPE html>
<html lang="en">
<head>
  <title>University professor platform</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2/build/pdf.worker.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2/build/pdf.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link rel="stylesheet" type="text/css" href="/pdf_viewer2.css">
  <!--<script src="pdf.js"></script>
  <script src="pdf.worker.js"></script>-->
</head>
<body>
  <div class="jumbotron">
    <div class="logo">
      <a href="#home" class="js_homeNav" data-toggle="tooltip" data-placement="top" title="Click to go to home"><img src="https://s3.us-east-2.amazonaws.com/awsunivprof/univ_logo6.png" alt="app logo" class="img_logo"> </a>
    </div>
    <div class="brand">
      <h1>Cameroon Research Platform</h1>
      <h3>All about <span class="header_infos">discovery</span>!!!</h3>
    </div>
  </div>

  <nav class="navbar navbar-inverse " >
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand js_brand js_homeNav" href="#home" data-toggle="tooltip" data-placement="auto" title="home">CRP</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar" >
        <ul class="nav navbar-nav">
          <!--li class="active js_homeNav"><a href="#home">Home</a></li> -->
          <li class="dropdown js_searchNav"><a class="dropdown-toggle" data-toggle="dropdown" href="#search">Search <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="js_getAllUsers"><a href="#" >Get all users</a></li>
              <li class="js_getUsersByCountry"><a href="#" >Find users by country</a></li> 
              <li class="js_getUsersByDepartment"><a href="#" >Find users by speciality</a></li>
            </ul>
          </li>
          <li class="js_contactusNav"><a href="#contactus" >Contact us</a></li>
          
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="js_signInNav"><a href="#login" ><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
          <li class="js_signUpNav"><a href="#signUp" ><span class="glyphicon glyphicon-check"></span> SignUp</a></li>
          <li class="dropdown js_accountNav hidden"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
           <span class="glyphicon glyphicon-user"></span><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Sign in as <span class="profileName">LastName</span> </li>
              <li class="js_profileNav" ><a href="#profile">View Profile</a></li>
              <li class="js_signOutNav"><a href="#signOut">Sign Out</a></li>
              <li class="js_deleteAccountNav"><a href="#deleteAccount">Delete My Account</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">    
    <div class="row">
      <div class="col-sx-12 col-sm-2  sidenav">
        <div class="well">
          <h2>Find collaborators!!</h2>
          <form class="submitSearch">
            <div class="input-group">
              <label class="sr-only" for="searchInput">search</label>
              <input type="search" name="search" class="form-control" id="searchInput" placeholder="search">
              <div class="input-group-btn">
                <button class="btn btn-primary " type="submit">
                  <i class="glyphicon glyphicon-search "></i>
                </button>
              </div>
            </div>
          </form>
          <p> You can search by collaborator' name, country, or speciality</p>

        </div>
        <div id="newsPanel">
          <h2>Great Sources Of Inspiration</h2>
          <div class="well">
            <p>
              <q>Many ideas grow better when transplanted into another mind than the one where they sprang up</q>
              <cite><br>Oliver Wendell Holmes</cite>
            </p>
          </div>
          <div class="well">
            <p>
              <q>Coming together is a beginning, staying together is progress, and working together is success </q>
              <cite> <br>Henry Ford</cite>
            </p>
          </div>
          <div class="well">
            <p>
              <q>Unity is strength... when there is teamwork and collaboration, wonderful things can be achieved</q>
              <cite><br>Anonymous</cite>
            </p>
          </div>
        </div>
      </div>

      <div class="col-sx-12 col-sm-10  mainContainer"> 
        <div class="js_displayUsers">

          <div class="main">
              <div id="section1">    
                <h1>Connect with your colleagues around the world</h1>
                <img src="https://s3.us-east-2.amazonaws.com/awsunivprof/univprof_img2.jpg" id="bg_1_img2">
              </div>
              <div id="section2"> 
                <h1>Learn from others</h1>
                <div class="row">
                <div class="col-sm-8">
                  <p class="section2_text">
                    "When you dream of conquering the world and you fill your agenda with daunting projects 
                    it’s often necessary to equip yourself with a large mug of coffee and with the right people.
                    Any successful project, be it big or small, has one thing at its core: effective collaboration,
                    and you can achieve it with knowledge sharing." 
                  </p>-Anonymous
                </div>
                <div class="col-sm-4"><img src="https://s3.us-east-2.amazonaws.com/awsunivprof/research.png" alt="" class="section_img"></div>
                </div>
              </div>        
              <div id="section3">         
                <h1>Share your research's interest</h1>
                
              <div class="row">
                <div class="col-sm-4"><img src="https://s3.us-east-2.amazonaws.com/awsunivprof/pen.jpg" alt="" class="section_img"></div>
                <div class="col-sm-8">
                 <p class="section2_text">
                  "We could learn a lot from crayons: some are sharp, some are pretty, some are dull, while others are bright, some have weird names, but we have to learn to live in the same box." 
                </p> -Anonymous</div>
               </div> 
                
              </div>
          </div>

        </div>
      
   

        

          <!-- modal box delete account -->
          <div class="modal fade" id="modal_deleteAccount" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header" >
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h3 class="modal-title"> Warning!! This Account is about to be deleted</h3>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                  <form role="form">
                    <h2> Ouppsss!!!!! we sorry to see you go</h2>
                    <p>Do You really want to delete this account? </p>
                    <p>NB: All your data will be lost and impossible to recover later!!!</p>
                    <button type="submit" class="btn btn-danger button_delete_ok searchButton "><i class="glyphicon glyphicon-warning-sign"></i> OK</button>

                    <button type="submit" class="btn btn-success btn-default pull-left CancelButton" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> Cancel</button>
                  </form>
                </div>
                  
              </div>
            </div>
          </div> <!-- end modal box search by country -->


          <!-- modal box search by country -->
          <div class="modal fade" id="modal_searchByCountry" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header" >
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h3 class="modal-title"> Get all users by specialization</h3>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                  <form role="form">
                    <div class="form-group">
                      <label for="Country"> Choose Country</label>
                      <select name="country" id="modal_country" > </select>
                    </div>
                    <button type="submit" class="btn btn-success js_getUsersByCountry_search searchButton "><span class="glyphicon glyphicon-search"></span> Search</button>

                    <button type="submit" class="btn btn-danger btn-default pull-left CancelButton" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                  </form>
                </div>
                <div class="modal-footer"> <p>Click on search to submit the selection</p></div>
                  
              </div>
            </div>
          </div> <!-- end modal box search by country -->

          <!-- modal box search by specialization -->
          <div class="modal fade" id="modal_searchByDepartment" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header" >
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h3 class="modal-title"> Get all users by specialization</h3>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                  <form role="form">
                    <div class="form-group">
                      <label for="specialization"> Choose the department</label>
                      <select name="specialization" id="modal_specialization" > </select>
                    </div>
                    <button type="submit" class="btn btn-success js_getUsersByDepartment_search searchButton"><span class="glyphicon glyphicon-search"></span> Search</button>

                    <button type="submit" class="btn btn-danger btn-default pull-left CancelButton" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel </button>
                  </form>
                </div>
                <div class="modal-footer">
                  <p>Click on search to submit the selection</p>
                </div> 
              </div>
            </div>
          </div> <!-- end modal box search by Specialization -->

          <!--email me dialog box -->
            <!-- modal box search by country -->
          <div class="modal fade" id="modal_email_me" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header" >
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h3 class="modal-title"> Email me !</h3>
                </div>
                <div class="modal-body" style="padding:40px 50px;height: 500px;">
                  <form role="form">
                    <div class="form-group">
                      <label for="from_email">From</label>
                      <input id="from_email" type="email"  class="form-control inputlength">
                      <label for="to_email">Email</label>
                      <input id="to_email" type="email"  class="form-control inputlength">
                      <label for="subject_email">Suject</label>
                      <input id="subject_email" type="text" placeholder="type your subject here" class="form-control inputlength">
                      <label for="message" class="">Message</label>
                      <textarea id="message" rows="10" required>Type your message here</textarea>  
                    
                      <button type="submit" class="btn btn-primary pull-right send_email_me "><span class="glyphicon glyphicon-envelope"></span> Send_Email</button>

                      <button type="submit" class="btn btn-danger btn-default pull-left CancelEmail_me" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                    </div>
                  </form>
                </div>
                <div class="modal-footer"> <p>Email me!!</p></div>
                  
              </div>
            </div>
          </div> <!-- end modal box search by country -->
        


        <div>
          <ul class="pager pagerUsers" hidden>
            <li class="previous previousUsers"><a href="#">Previous</a></li>
            <li class="next nextUsers"><a href="#">Next</a></li>
          </ul>
        </div>
<!--
         <div id="pdf-main-container">
          <div id="pdf-loader">Loading document ...</div>
          <div id="pdf-contents">
            <div id="pdf-meta">
              <div id="pdf-buttons">
                <button id="pdf-prev">Previous</button>
                <button id="pdf-next">Next</button>
              </div>
              <div id="page-count-container">Page <div id="pdf-current-page"></div> of <div id="pdf-total-pages"></div></div>
            </div>
            <canvas id="pdf-canvas" width="800"></canvas>
            <div id="page-loader">Loading page ...</div>
          </div>
        </div>
-->

        <!-- modal to display pdf cv -->
        <div class="modal fade" id="pdfModal" role="dialog">
          <div class="modal-dialog modal-dialog_pdf">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal_headerName"></h2>
              </div>

              <div class="modal-body" >
                <div id="pdf-contents">
                  <div class="js_users_more_details"></div>
                  <div class="pdf_modal">
                    <div id="pdf-buttons">
                      <button id="pdf-prev">Previous</button>
                      <button id="pdf-next">Next</button>
                    </div>
                    <canvas id="pdf-canvas" width="800" ></canvas>
                    <div id="pdf-meta"> 
                      <div id="page-count-container">Page <div id="pdf-current-page"></div> of <div id="pdf-total-pages"></div></div>
                    </div>
                  </div>
                  <div id="page-loader">Loading page ...</div>
                  
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                
              </div>
            </div>
          </div>
        </div>  
        

      </div>
      
    </div>
  </div>

  <footer class="container-fluid text-center">
    <p>Copyright  camProfTeam@2017</p>
  </footer>
  <script type="text/javascript" src="/formTemplate.js"></script>
  <script type="text/javascript" src="/city_state.js"></script>
  <script type="text/javascript" src="/local-storage.js"></script>
  <script type="text/javascript" src="/pdf_viewer2.js"></script>
  <script type="text/javascript" src="/index.js"></script>
</body>
</html>


