
body{
  height: 100%;
}
.jumbotron{
  margin-bottom: 0;
  background-color: #0033cc;
  padding-top: 15px;
  padding-bottom: 15px;
}
.jumbotron div {
  display:inline-block;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.navbar.affix {
      top: 0;
      width: 100%;
}
.leftSidenav.affix{
  top: 50px;
  left: 0px;
}
.rightSidenav.affix{
  top: 50px;
  right: 0px;
}

/*main container stylle*/
.row.content {
  /*height: 850px;*/
}
.mainContainer{
  height: 400px;
  overflow: auto;
  margin-right: auto;
  margin-left: auto;
  border:2px solid black;
}


.js_user{
  display: inline-block;
  width: 25%;
  height: 300px;
  overflow: auto;
  border:1px solid black;
  margin:5px;
}

/*side container style*/
.sidenav {
  padding-top: 20px;
  background-color: #0033cc;
}

.pager{
  border-top: 4px solid black
}
/* set the input submit button */
.searchButton {
  width: 200px;
}

fieldset{
  border:1px solid black;
}

/*sign up */
.signUp textarea{
  width: 100%;
}
#profileImgUpload{
  width: 250px;
  height:250px;
  border:2px solid black;
  margin-bottom: 10px;
}
#imgsrc{
  width: 250px;
  height: 250px;
}

/* contact us*/
.contactContainer{
 width: 90%;
 margin-right: auto;
 margin-left: auto;
}
#subject{
  width: 60%;
}
#message{
  width: 100%;
}

#sendmail{
  width: 200px;
}

/* style sign in  */
.loginContainer{
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.loginContainer button{
  width: 200px;
}

.CancelButton{
  float:left;
}

.searchButton {
  float: right;
}


footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}