
body{
  height: 100%;
  background-color: #F5F5F5;
}

.form-group{
  height: 30px;
  margin-bottom: 30px;
}

.jumbotron{
  text-align: center;
  margin-bottom: 0;
  background-color: #6699ff;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
}
.jumbotron div {
  display:inline-block;
}
.header_infos{
color: yellow;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #091034;
}


.logo{
  float: left;
}
.img_logo{
  width: 145px;
  height: 145px;
}

/*main container stylle*/

.mainContainer{
 
  width: 80%;
  
  margin: 0 auto;
  padding-right: 0px;
  padding-left: 0px;
  /*border: 2px solid black;
  overflow: auto;
   height: 700px;*/
  
}

.centerMainContainer{
  width: 100%;
}


.js_displayUsers{
  margin: 0 auto;
   /*#f7f7f7*/;

}

.displayUsers_block{
  width: 90%;
  margin:0 auto;
}

.well{ 
  color: #091034;
  overflow: hidden;
  background-color: white;
}



.js_user{
  display: inline-block;
  width: 215px;
  height: 270px;
  overflow: auto;
  border:1px solid black;
  margin: 5px;
  background: linear-gradient(to bottom, #003399 0%, #ffffff 160%);
}

.js_prof_block{
  width: 90%;
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
.js_profite_pict{
  width: 100%;
  height: 130px;
  border-radius: 15px;
  border:1px solid black;

}
ul.js_user_info{
  list-style-type: none;
  padding: 5px;
  margin: 0 auto;
  text-align: left;
  color: white;
}

.bg_1{
  /*background-color: #6699ff ;*/

  margin: 0 auto;
  text-align: center;
  height: 100vh;
  overflow: auto;
  padding-top: 10px;
}

.bg_2{
  background-color:  #31708ff5;
  text-align: center;
  height: 500px;
}

section{
  display: inline-block;
}

.bg_1_img{
  padding: 20px;
  width: 60%;
  height: auto;
  float: right;
}

#bg_1_img2{
  width: 100%;
  height: auto;
  
}

 q{
  font-style:italic;
  font-family: "Lucida Console";
  color: black;
 }


/*side container style*/
.sidenav {
  width: 20%;
  height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
  /*background-color: #6699ff;
  border-right: 2px solid black;*/
  
  
}

.pagerUsers, .pagerForm{
  border-top: 4px solid black
}


/* contact us*/

.contactContainer{
 width: 70%;
 margin-right: auto;
 margin-left: auto;
 background-color: white;
}

.mainContactContainer{
  width: 80%;
  padding: 50px;
  margin:0 auto;
}
.contactUsHeader{
  text-align: center;
}
.contactUsHeader >h1{
  color: #337ab7;
}

.inputlength{
  width: 60%;
}
#message{
  width: 100%;
}

#sendmail{
  width: 200px;
}

/*  signUP Form css */
#image_to_upload, #cv_to_upload{
  display: none;
}

.signUpForm{
  width: 70%;
  margin:0 auto;
  background-color: white;
  padding: 30px;
}

.signUp_headerText{
  padding-top: 20px; 
  text-align: center;
}
.signUp_headerText > h2{
  color: #337ab7;
}



fieldset{
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  margin-top: 10px; 
  border:1px solid black;
  background-color: white;
  width: 60%;
}

legend{
  padding-top: 35px;
}

#profileImgUpload{
  width: 100%;
  height:250px;
  border:1px solid black;
  border-radius: 10px;
  margin: 0 auto;
  background-color: gray;
}

#imgsrc{
  margin: 0 auto;
  width: 100%;
  height: 250px;
  padding: 15px;
}

.block_to_Center{
  width: 70%;
  margin: 0 auto;
}

.btn_submit{
  margin-left: 50%;
  width: 60%;
}

.AddSpace{
  margin-bottom: 10px;
}
/* style sign in  */
.mainloginContainer{
  width: 70%;
  margin:0 auto;
  padding: 50px;
}
.loginContainer{
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  
   
}

.loginContainer h2{
  text-align: center;
  color: #337ab7;
}

.CancelButton{
  float:left;
  width: 100px;
}

.searchButton {
  float: right;
  width: 100px;
}

.modal-header h3{
  text-align: center;
}

/*previews profile users  */
.updateProfile{
  padding-top: 20px;

}

.saveProfileUsers{
  margin-bottom: 20px;
}

.required_field{
  color:red;
}

footer {
  background-color: #010c7b;
  color: white;
  padding: 10px;
  height: 50px;
}

.main{
  width: 100%;
  text-align: center;
  margin:0 auto;
}
#section1 {padding-top:0px;height:100%;color: black; background: linear-gradient(to bottom, #003399 -4%, #ffffff 25%);}
#section2 {padding-top:20px; padding-bottom:50px;height:100%;color: black;  background: linear-gradient(to bottom, #003399 -4%, #ffffff 25%); }
#section3 {padding-top:20px;height:100%;color: black; background: linear-gradient(to bottom, #003399 -4%, #ffffff 29%); }

.section2_text{
  text-align: justify;
  font-style: italic;
  font-size: 1.5em;
  padding: 50px;
  color: black;
  margin-top: 70px;

}
.section_img{
  width: 100%;
  height: 300px;
  padding: 20px;
  /*float:left;*/
}
.email_me{
  text-align: center;
}
#newsPanel{
  margin-top: 100px;
  text-align: center;
}

#section1 h5{
  color: #6699ff;
}

.input-group-btn{
  background-color: 
}

cite{
  font-style: oblique;
  color: #337ab7;
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media only screen and (max-width: 767px) {
  .img_logo{
    display: none;
  }
 

  .brand h1{
    font-size: 2.2em;
  }

  .sidenav {
    height: auto;
    padding: 5px;
  }

  .sidenav, .mainContainer, .loginContainer, .signUpForm, .contactContainer, .mainContactContainer, .mainloginContainer{
    width: 100%;
  }
  
  #newsPanel{
    display: none;
  }

  .js_user{
    width: 80%;
    margin-left: 10%;
  }

  fieldset{
    width: 100%;

  }

  #bg_1_img2{
    width: 100%;
  }

  textarea.form-control {
    height: 34px;
  }
 
  
}

@media only screen and (max-width: 992px) {
  .img_logo{
    width: 80px;
    height: 80px;
  }
 

  .brand h1{
    font-size: 2.2em;
  }

  .sidenav {
    height: auto;
    padding: 5px;
  }

}

@media only screen and (min-width: 1800px) {
 
 #profileImgUpload, #imgsrc{
  height: 350px;
 }

}
