
body{
  height: 100%;
}
.jumbotron{
  text-align: center;
  margin-bottom: 0;
  background-color: #0033cc;
  padding-top: 15px;
  padding-bottom: 15px;
}
.jumbotron div {
  display:inline-block;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}


/*main container stylle*/

.mainContainer{
  height: 700px;
  width: 80%;
  overflow: auto;
  margin: 0 auto;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.mainContainer2{
  width: 80%;
  left: 10%;
}

.js_displayUsers{
  margin: 0 auto;
}

.js_user{
  display: inline-block;
  width: 250px;
  height: 250px;
  overflow: auto;
  border:1px solid black;
  margin: 1%;
}

.js_prof_block{
  width: 90%;
  height: 130px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
.js_profite_pict{
  width: 100%;
  height: 128px;
}
ul.js_user_info{
  list-style-type: none;
  padding: 5px;
  margin: 0 auto;
  text-align: left;
}
/*side container style*/
.sidenav {
  width: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #0033cc;
}

.pager{
  border-top: 4px solid black
}
/* set the input submit button 
.searchButton {
  
}
*/



/* contact us*/
.contactContainer{
 width: 90%;
 margin-right: auto;
 margin-left: auto;
}
#subject{
  width: 60%;
}
#message{
  width: 100%;
}

#sendmail{
  width: 200px;
}

/*  signUP Form css */
#image_to_upload, #cv_to_upload{
  display: none;
}

.signUp_headerText{
  text-align: center;
}

fieldset{
  padding: 10px;
  border:1px solid black;
}


#profileImgUpload{
  width: 100%;
  height:250px;
  border:1px solid black;
  margin: 10px auto;
  background-color: gray;
}

#imgsrc{
  width: 100%;
  height: 250px;
}

/* style sign in  */
.loginContainer{
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.loginContainer button{
  width: 200px;
}

.CancelButton{
  float:left;
  width: 100px;
}

.searchButton {
  float: right;
  width: 100px;
}

.modal-header h3{
  text-align: center;
}

footer {
  background-color: #555;
  color: white;
  padding: 15px;
  height: 300px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media only screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }

  .sidenav, .mainContainer{
    width: 100%;
  }
  
}

@media only screen and (min-width: 1800px) {
 
 #profileImgUpload, #imgsrc{
  height: 350px;
 }

}
